#Alumni{
    position: absolute;
    color: #FFFFFF;
    bottom:0;
    display:table;
    width:70%;
    height: 70%;
    z-index:9; 
}
.parallax-inner{
    display:table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.links{
    display: ;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}
.links:hover{
    font-size: 25px;
}
html{
    scroll-behavior: auto;
}
.menu{
    position: fixed;
}